*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

#main{

}

/* Common */
.row::after,
.place::after,
.band-name::after,
.band-content::after{
    content: "";
    display: block;
    clear: both;
}

.text-white{
    color: white;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
     width: calc(100% / 3);
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100% !important;
}

.text-center{
    text-align: center !important;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.pull-right{
    float: right;
}

.btn{
  background-color: #000;
  text-decoration: none;
  color: white;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
  border: none;
  cursor: pointer;
}

.btn:hover{
    background-color: #ccc;
    color: black;
}



/* Main */
#header{
    background-color: black;
    height: 46px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.nav li{
    display: inline-block;
    position: relative;
}

.nav > li > a{
    color: white;
    text-transform: uppercase;
}

.nav li a{
    text-decoration: none; 
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

.subnav li:hover a,
.nav > li:hover > a{
    background-color: #ccc;
    color: black;
}

.nav .subnav{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.nav .subnav a{
    min-width: 160px;
    color: black;
    line-height: 38px;
    padding: 0 14px;
}

.nav li:hover .subnav{
    display: block;
}

.nav .arrow-down{
    font-size: 11px;
}

.nav .search-heading{
    float: right;
    line-height: 46px;
    padding:0 22px;
    color: white;
    cursor: pointer;
}


.nav .menu-heading{
    float: right;
    line-height: 46px;
    padding:0 22px;
    color: white;
    margin-top: -230px;
    display: none;
}

.search-heading:hover{
    background-color: #f44336;
    color: black;
}

#slider{
  position: relative;
  padding-top: 50%;
  background:url('Picture/ny.jpg') top center / cover no-repeat;
}

#slider .slider-content{
    position: absolute;
    bottom: 48px;
    width: 100%;
    text-align: center;
    color: white;
}

.slider-content .slider-heading{
    margin: 20px 0;
    font-weight: 500;
    font-size: 24px;
}

.slider-para{
    font-size: 15px;
}

#content{
    
}


.band-content{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

.band-heading{
    font-size: 30px;
    margin:25px 0;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

.band-sologan{
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    color: #757575;
}

.band-sub-content{
    text-align: justify;
    line-height: 1.4;
    margin: 15px 0;
}

.band-name{
    padding:32px 0;
}


.band-subname{
    margin: 15px 0;
}

.member-img{
    width: 154px;
}

#content .tour-section{
    background-color: black;
}

.tour-section .ticket{
    background-color: white;
}

.ticket li{
    border: 1px solid #ddd;
    padding: 8px 16px;  
}

.ticket .sold-out{
    background-color: #f44336;
    margin-left: 16px;
    padding: 4px 8px;
}

.ticket .quantity{
    background-color: black;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    float: right;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
}

.place{
    padding: 32px 0;
}

.place .place-section{
    margin-bottom: 16px;
}

.place-body{
    background-color: white;
    padding: 0 16px;
    padding-bottom: 20px;
}

.place-img{
    width: 100%;
    display: block
}

.place-img:hover{
    opacity: 0.6;
}

.place-heading{
    padding-top: 15px;
    font-size: 15px;
}

.place-date{
    margin: 15px 0;
    color: #757575;
}

.place-sub-heading{
    margin: 15px 0;
    line-height: 1.4;
}

.contact-content{
    padding: 32px 0;
}

.icon-contact i{
    margin-right: 12px;
    line-height: 1.6;
    
}

.icon-contact p{
    font-size: 18px;
}

.contact-form .form-control{
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
}

.contact-content a{
    opacity:0.8;
}

.contact-content a:hover{
    opacity: 1;
}

.map-img{
    width: 100%;
    opacity: 0.9;
}

#footer{
    padding: 64px 0;
    text-align: center;
}


#footer .footer-social a{
    text-decoration: none;
    font-size: 22px;
    color: #757575;
    cursor: unset;
}

#footer .footer-social a:hover{
    opacity: 0.7;
}

#footer .footer-end{
    margin: 15px 0;
    font-size: 15px;
    color: #757575;
}

#footer .link-end{
    color: #757575;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.ticket-modal{
    width: 900px;
    min-height: 250px;
    background-color: white;
}

.modal-header{
    position: relative;
    background-color: #009688;
    padding: 32px 16px;
    color: white;
}

.close-header{
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 18px;
    font-size: 12px;
    cursor: pointer;
}

.modal-close-down:hover .modal-close-para,
.modal-pay1:hover a,
.close-header:hover{
    background-color: #ccc;
    color: black;
}

.ticket-header{
 margin: 10px 0;
 text-align: center;
 font-size: 30px;
}

.modal-bag{
    margin-right: 14px;
}

.ticket-para{
    letter-spacing: 4px;
}

.modal-content{
    padding: 0 16px;
}

.modal-para{
    margin-bottom: 16px;
}

.modal-content .modal-text{
    padding:8px;
    width: 100%;
    border: 1px solid #ccc;
}

.modal-pay{
    background-color: #009688;
    height: 48px;
    line-height: 48px;
    text-align: center;
}


.modal-paypan{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


.modal-pay1 a{
    display: block;
}


.modal-footer{
    padding: 16px;
}

.modal-close-down{
    background-color: #f44336;
    padding: 8px 16px;
    width: 90px;
    
}

.modal-close-down .modal-close-para{
    font-size: 15px;
    color: white;
    text-decoration: none;
    display: inline-block;
}


.modal-close-para .close-down{
    font-size: 10px;
}


.modal-need{
    margin-top: -25px;
}

.modal-help{
    color: #2196F3!important;
}